body {
  padding-top: 150px;
  position: absolute;
  }
article {
  background: white;
  border: 2px solid gray;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 12rem;
  display: inline-block;
}
html {
  background-color:white;
}
.fixed-nav-bar {
  position:fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10px;
  background-color: white;
}
.right ul {
float: right;
padding: 5px 10px 10px 5px;
font-size: 11px;
list-style: none;
white-space: nowrap;
display: block;
}
.right li {
  display: inline-block;
}
p {
    font-size: 0.75rem;
    color: #424242;
  }
  h1 {
    color: #424242;
    font-size: 2rem;
  }
  h2 {
    color: #424242;
    font-size: 1.5rem;
    margin-top:0em;
    #view1,#view2,#view3,#view4,#view5 { margin-top:-4em; height:4em; }

  }
  h3 {
    color: #585858;
    font-size: 1rem;
  }
  img {
    margin: 0px 10px 0px 0px;
  }
  .clearfix {
  overflow: auto;
}
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}
.flex-item {
    width: 350px;
    height: 10px;
    padding-top: 30px;
    padding-bottom: 8px;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}
#cssmenu {
  float: left;
  width: 100%;
  background: #efefef;
  font-size: 93%;
  line-height: normal;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-top: 1px solid grey;
}
#cssmenu ul {
  margin: 1rem;
  padding: 10px 10px 5px 50px;
  list-style: none;
}
#cssmenu li {
  display: inline;
  margin: 0;
  padding: 0;
  border-left: 1px;
}
#cssmenu a {
  float: left;
  background: url("images/tableftf.gif") no-repeat left top;
  margin: 0;
  padding: 0 0 0 4px;
  text-decoration: none;
}
#cssmenu a span {
  float: left;
  display: block;
  background: url("images/tabrightf.gif") no-repeat right top;
  padding: 0px 20px 4px 6px;
  color: black;
  font-weight: bolder;
  font-size: 120%;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#cssmenu a span {
  float: none;
  }
/* End IE5-Mac hack */
#cssmenu .active a span,
#cssmenu a:hover span {
  color: blue;
}
#cssmenu .active a,
#cssmenu a:hover {
  background-position: 0 -42px;
}
#cssmenu .active a span,
#cssmenu a:hover span {
  background-position: 100% -42px;
}
#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding:inherit;
    font-family: sans-serif;
}
